@media screen and (min-width: 1280px) {

   .cardItem {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      width: 45%;
      margin-right: 10px;
      flex-grow: 1;
   }
   .cardTitle {
      font-size: 18px;
   
   }
}
